/* -------------------------
#START CONFIGRATION
------------------------- */

html , body {
    height: 100%;
    margin: 0%;
    max-width: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
    width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* -------------------------
# Footer
------------------------- */
/* Keep the footer always down */


.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#footer, .push {
    height: 50px;
}

/* -------------------------
# Other
------------------------- */

/* All Buttons (width) */

.my-btn {
  width: 90px;
}

.my-btn2 {
  width: 45px;
}

/* Remove lines in all <a> Tages */

a {
    text-decoration: none !important;
}
/* upload field boxes file and image */

.text-break, .input-group-text {
    font-size: 13px !important;
}

/* FontAwesome font-size */
.f-size {
  font-size: 26px;
}

.f-size2 {
  font-size: 20px;
}


.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem; }
  
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #78d5ef;
    background-color: #fff;
    border: 1px solid #dee2e6; }
    .page-link:hover {
      z-index: 2;
      color: #34c0e7;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6; }
    .page-link:focus {
      z-index: 2;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.25);
      box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.25); }
    .page-link:not(:disabled):not(.disabled) {
      cursor: pointer; }
  
  .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
  
  .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem; }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #78d5ef;
    border-color: #78d5ef; }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6; }
  
  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5; }
  
  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem; }
  
  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5; }
  
  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem; }
  
  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem; }
    .custom-pagination {
        width: 100%;
        text-align: center;
        display: inline-block; }
        .custom-pagination li {
          display: inline-block; }
        .custom-pagination .prev a, .custom-pagination .next a {
          font-size: 20px !important;
          line-height: 38px !important; }
        .custom-pagination li a, .custom-pagination .prev a, .custom-pagination .next a {
          width: 40px;
          height: 40px;
          line-height: 40px;
          padding: 0;
          margin: 0;
          border-radius: 50% !important;
          font-size: 16px; }
        .custom-pagination li.active a, .custom-pagination .prev.active a, .custom-pagination .next.active a {
          display: block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          padding: 0;
          margin: 0;
          border-radius: 50% !important;
          font-size: 16px;
          background: #167ce9;
          color: #fff; }
          .custom-pagination li.active a:hover, .custom-pagination li.active a:focus, .custom-pagination .prev.active a:hover, .custom-pagination .prev.active a:focus, .custom-pagination .next.active a:hover, .custom-pagination .next.active a:focus {
            color: #fff; }
        .custom-pagination .prev {
          float: left; }
        .custom-pagination .next {
          float: right; }  

/* -------------------
/* Responcive ((1199px))
----------------------*/

@media(max-width:1199px) {
    /* filter (width 100%) */
    .wd-100{
        width: 100%;
        padding: 1px;
    }
    /* Table */
    .table, .table tbody, .table tr, table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
        border: 1px solid #111;
        border-radius: 3px;
    }
    .table td {
        text-align: right;
        padding-left: 35px;
        position: relative;
        border: 1px solid transparent;
    }
    .table td::before {
        content: attr(label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
    }
    .table > thead > tr:first-child {
        display: none;
        margin-top: 5px;
    }
    #top-border {
        /* first cell - change background */
        background-color: #111;
        color: #fff;
    }
    /* Responsive */
    #sm-border {
        border: 1px solid #a9a9a9;
    }
    /* Footer */
    #footer {
        font-size: 13px;
    }
}