{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->

<!-- Block Title -->
{% block title %} All candidate {% endblock title %}

<!-- Block Navbar -->
{% block navbar %} bg-dark {% endblock navbar %}

{% block nav-content %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse mt-3 mt-md-3 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-middle">
            <li class="nav-item">
                <a  href="#" class="btn btn-light my-btn2" title="Control Panel"><i class="fas fa-user-cog f-size2"></i></a>
                <a  href="{% url 'admin:index' %}" target="_blank" class="btn btn-warning my-btn2" title="Admin"><i class="fas fa-cog f-size2"></i></a>
                <a  href="{% url 'logout' %}" class="btn btn-danger my-btn2" title="logout"><i class="fas fa-power-off f-size2"></i></a>  &nbsp;
            </li>
        </ul>
        
        <hr class="text-light" />
        <form class="d-flex mt-3 mt-md-3 mt-lg-0">
            <input class="form-control me-1" type="search" placeholder="Search" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button> &nbsp;
            <a href="{% url 'backend' %} " class="btn btn-secondary" title="Refresh"><i class="fas fa-sync-alt"></i></a>
        </form>
    </div>
{% endblock nav-content %}

<!-- Page Contant -->
{% block content %}
<div class="container mt-3" style='width: 95%;'>
    <!-- Button
    <a href="{% url 'logout' %}" class="btn btn-outline-danger mt-3 mb-3 my-btn">Log out</a> -->

    <!-- Header (Title) -->
    <h6 class="card p-2 bg-secondary text-light text-center mb-3">LIST OF CANDIDATE</h6>

<!--  Filter -->
<form method="POST" class="mt-5 mb-2"> {% csrf_token %}
    <div class="btn-group wd-100" role="group " aria-label="Basic radio toggle button group">
        <input type="submit" class="btn-check" value="FRA-22"  name="job" id="btnradio1" autocomplete="off">
        <label {% if request.POST.job == 'FRA-22' %} class="btn btn-secondary" {% else %} class="btn btn-outline-secondary" {% endif %} for="btnradio1">FRA-22</label>

        <input type="submit" class="btn-check" value="BKA-15" name="job" id="btnradio2" autocomplete="off">
        <label {% if request.POST.job == 'BKA-15' %} class="btn btn-secondary" {% else %} class="btn btn-outline-secondary" {% endif %} for="btnradio2">BKA-15</label>

        <input type="submit" class="btn-check" value="FST-85" name="job" id="btnradio3" autocomplete="off">
        <label {% if request.POST.job == 'FST-85' %} class="btn btn-secondary" {% else %} class="btn btn-outline-secondary" {% endif %} for="btnradio3">FST-85</label> &nbsp; &nbsp;

        <!-- Gender -->
        <input type="submit" class="btn-check" value="M" name="gender" id="btnradio4" autocomplete="off">
        <label {% if request.POST.gender == 'M' %} class="btn btn-secondary" {% else %} class="btn btn-outline-secondary" {% endif %} for="btnradio4">Male</label> 


        <input type="submit" class="btn-check" value="F" name="gender" id="btnradio5" autocomplete="off">
        <label {% if request.POST.gender == 'F' %} class="btn btn-secondary" {% else %} class="btn btn-outline-secondary" {% endif %} for="btnradio5">Female</label> &nbsp; &nbsp;

        
        <!-- <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button> &nbsp;
            <a href="{% url 'backend' %} " class="btn btn-secondary" title="Refresh"><i class="fas fa-sync-alt"></i></a> -->
    </div>
</form>

    <!-- Table -->
    <table class="table table-bordered text-center">
        <thead class="table-secondary">
            <tr>
                <th >Name</th>
                <th >Email</th>
                <th >Phone</th>
                <th >Gender</th>
                <th >Occupation</th>
                <th >Experiance</th>
                <th >Received</th>
                <th colspan="2"> Action</th>
            </tr>
        </thead>
        <tbody style="font-size: 14px">
            {% for data in candidates %}
            <tr>
                <td id="top-border" label="Name">{{ data.firstname }} {{ data.lastname }}</td>
                <td id="sm-border" label="Email">{{ data.email }} </td>
                <td id="sm-border" label="Phone">{{ data.phone }} </td>
                <td id="sm-border" label="Gender">{{ data.gender }} </td>
                <td id="sm-border" label="Occupation">{{ data.job }} </td>
                
                {% if data.experience == True %}
                <td id="sm-border" label="Experiance">Yes</td>
                {% else %}
                <td id="sm-border" label="Experiance">No</td>
                {% endif %}
                
                <td id="sm-border" label="Received">{{ data.created_at| date:'m/d/y (H:i)' }} </td>
                
                <td id="sm-border" label="" >
                    <a href="{% url 'candidate' data.id %} " class="btn btn-secondary my-btn2 btn-sm" title="View candidate">
                        <i class="fas fa-user-alt"></i>
                    </a></td>
                    {% empty %}
                    <td colspan="8" class="text-danger"><strong>No records found</strong></td>
            </tr>
        </tbody>
            {% endfor %}
    </table>
<!-- Pagination -->

<nav aria-label="Page navigation example">
    {% if candidates.has_other_pages %}
    <ul class="pagination">
        {% if candidates.has_previous %}
        <a class="btn btn-outline-secondary mb-4" href="?page=1" style="border-radius: 1px; border: 1px solid #d3d3d3;">First</a>
        <li class="page-item"><a class="page-link" href="?page={{ candidates.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
        {% else %}
        <li class="page-item disabled"></li>
        {% endif %}

        {% for i in candidates.paginator.page_range %}
        {% if candidates.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only"></span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}

        {% if candidates.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ candidates.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
        <a class="btn btn-outline-secondary mb-4" href="?page={{ candidates.paginator.num_pages }}" style="border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;">Last</a>
        {% else %}
        <li class="page-item disabled"></li>
        {% endif %}
          
    </ul>
    {% endif %}
  </nav>
</div> <!-- END Container--> 
<br>
<br>
<br>
{% endblock content %}
