{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container mt-3" style='width: 95%; font-size: 14px'>
<!-- start Form -->
<form method="POST" class="card p-3 mt-5" autocomplete="off" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-4">{{ form.firstname|as_crispy_field }}</div>
        <div class="col-4">{{ form.lastname|as_crispy_field }}</div>
        <div class="col-4">{{ form.job|as_crispy_field }}</div>
        <div class="col-4">{{ form.email|as_crispy_field }}</div>
        <div class="col-4">{{ form.age|as_crispy_field }}</div>
        <div class="col-4">{{ form.phone|as_crispy_field }}</div>
        
        <div><hr style="border: 1px solid #007bff;"></div>
    </div>
    <div class="row">
        <div class="col-4">{{ form.personality|as_crispy_field }}</div>
        <div class="col-4">{{ form.salary|as_crispy_field }}</div>
        <div class="col-2">{{ form.gender|as_crispy_field }}</div>
        <div class="col-2">{{ form.smoker|as_crispy_field }}</div>
    </div>
    <div class="col-2">{{ form.experience|as_crispy_field }}</div>
    <div><hr style="border: 1px solid #007bff; margin-top: -15px"></div>

    <div>{{ form.message|as_crispy_field }}</div>
    <div><hr style="border: 1px solid #007bff;"></div>

    <button type="submit" class="btn btn-primary mt-3">submit</button>
</form>
<!-- End Form -->


<!-- Message from backend -->
{% for message in messages %}
{% if message.tags == 'success' %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">{{message}}
        <a href="{% url 'home'%}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close" ></a>
    </div>   
{% endif %}
{% endfor %}
<!-- End Message from backend -->
</div>
{% endblock %}